<app-navbar></app-navbar>
<main class="flex flex-col items-center px-4">
  <div class="w-full lg:w-2/5 flex justify-start">
    <button (click)="router.navigate(['/sale'])" class="flex items-center text-[#3A00AE] hover:text-[#3A00AE] mb-4">
      <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
      <span>Regresar</span>
    </button>
  </div>

  <section class="bg-white w-full lg:w-2/5 p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-6 text-center">Ventas</h1>
    
    
    <form [formGroup]="createPostForm" class="mt-6 space-y-4">
      <div class="relative w-full h-48 rounded-lg border border-gray-300 bg-gray-100 flex justify-center items-center overflow-hidden">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Previsualización de la imagen" class="object-contain w-full h-full" />
        <button *ngIf="!imagePreview" (click)="triggerFileInput()" class="text-center">
          <div class="text-[#3A00AE] hover:text-[#3A00AE]/80 transition-colors duration-300">
            <svg class="w-16 h-16 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
            </svg>
            <span class="text-gray-600">Agregar imagen</span>
          </div>
        </button>
        <input type="file" #imageInput (change)="onFileSelected($event)" class="hidden" accept="image/*" formControlName="image">
      </div> 
      <input type="text" formControlName="title" placeholder="Título" class="w-full border border-gray-300 rounded-md p-3">
      
      <textarea formControlName="description" placeholder="Descripción" 
        class="w-full border border-gray-300 rounded-md p-3"></textarea>
      
      <input type="number" formControlName="price" placeholder="Precio" class="w-full border border-gray-300 rounded-md p-3">
      
      <select formControlName="category" class="w-full border border-gray-300 rounded-md p-3">
        <option value="" disabled selected>Categoría</option>
        <option value="Material_didactico">Material didáctico</option>
        <option value="Recursos_de_clase">Recursos de clase</option>
        <option value="Juguetes">Juguetes</option>
        <option value="Mobiliario">Mobiliario y equipo</option>
        <option value="Uniformes">Uniformes y ropa</option>
        <option value="Decoracion">Decoracion</option>
        <option value="Electronica">Electrónica</option>
        <option value="Libros">Libros</option>
        <option value="Otros">Otros</option>
      </select>

      <button type="button" class="w-full bg-[#3A00AE] text-white rounded-md p-3 mt-6 hover:bg-[#3A00AE]/80 transition-colors duration-300" (click)="createPost()">
        Publicar
      </button>
    </form>
  </section>
</main>
