<app-navbar></app-navbar>
<main class="flex flex-col items-center px-4">
  <div class="w-full lg:w-2/5 flex justify-start">
    <button (click)="router.navigate(['/sale'])" class="flex items-center text-purple-500 hover:text-purple-700 mb-4">
      <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
      <span>Regresar</span>
    </button>
  </div>

  <section class="bg-white w-full lg:w-2/5 p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-6 text-center">Ventas</h1>
    
    <div class="relative w-full h-48 rounded-lg border border-gray-300 bg-gray-100 flex justify-center items-center">
      <img *ngIf="selectedImageUrl" [src]="selectedImageUrl" alt="Preview" class="absolute inset-0 w-full h-full object-cover rounded-lg">
      <button *ngIf="!selectedImageUrl" (click)="triggerFileInput()" class="text-center">
        <div class="text-purple-500 hover:text-purple-700">
          <svg class="w-16 h-16 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
          </svg>
          <span class="text-gray-600">Agregar imagen</span>
        </div>
      </button>
      <input type="file" #imageInput (change)="onImageSelected($event)" class="hidden">
    </div>

    <form #createPostForm="ngForm" class="mt-6 space-y-4">
      <input 
        type="text" 
        name="title" 
        [(ngModel)]="formData.title" 
        #title="ngModel" 
        required 
        maxlength="50"
        placeholder="Título" 
        class="w-full border border-gray-300 rounded-md p-3">
      
      <textarea 
        name="description" 
        [(ngModel)]="formData.description" 
        #description="ngModel" 
        required 
        maxlength="200"
        placeholder="Descripción" 
        class="w-full border border-gray-300 rounded-md p-3"></textarea>

      <input 
        type="number" 
        name="price" 
        [(ngModel)]="formData.price" 
        #price="ngModel" 
        required 
        placeholder="Precio" 
        class="w-full border border-gray-300 rounded-md p-3">
      
      <select 
        name="sale_type" 
        [(ngModel)]="formData.sale_type" 
        #sale_type="ngModel" 
        required 
        class="w-full border border-gray-300 rounded-md p-3">
        <option value="" disabled selected>Categoría</option>
        <option value="Material didáctico">Material didáctico</option>
        <option value="Recursos de clase">Recursos de clase</option>
        <option value="Juguetes">Juguetes</option>
        <option value="Moviliario y equipo">Moviliario y equipo</option>
        <option value="Uniformes y ropa">Uniformes y ropa</option>
        <option value="Decoraciones">Decoraciones</option>
        <option value="Electrónica">Electrónica</option>
      </select>

      <select 
        name="status" 
        [(ngModel)]="formData.status" 
        #status="ngModel" 
        required 
        class="w-full border border-gray-300 rounded-md p-3">
        <option value="" disabled selected>Estado-Artículo</option>
        <option value="Vendido">Vendido</option>
        <option value="Disponible">Disponible</option>
      </select>

      <button 
        type="button" 
        class="w-full bg-purple-500 text-white rounded-md p-3 mt-6" 
        (click)="createPost()">
        Publicar
      </button>
    </form>
  </section>
</main>
