<div class="flex justify-between cursor-pointer sm:w-full" (click)="goForum()" >
    <div class="flex items-center">
        <img [src]="forum.image_url" alt="imagen" class="w-14 h-14">
        <div>
            <h3 class="font-bold">{{ forum.name }}</h3>
            <p class="text-sm text-gray-400">{{ forum.privacy }}</p>
            <p class="text-sm text-gray-400">{{ forum.users_count }} miembros</p>
        </div>
    </div>
    <div class="flex items-center">
        <i class="pi pi-chevron-right"></i>
    </div>  
</div>
  