<app-navbar></app-navbar>
<main class="flex flex-col lg:flex-row justify-center lg:space-x-16">
    <aside class="hidden lg:block w-1/4 p-4 bg-white shadow-md md:flex flex-col h-screen">
    <h2 class="text-2xl font-bold mb-4 text-center">Busqueda Rápida</h2>
  
    <h3 class="text-lg font-semibold text-gray-600 mb-4 text-center">Filtros</h3>
    <ul class="space-y-4">
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
          <i class="pi pi-star text-[#3A00AE]"></i>
          <span class="text-[#3A00AE] cursor-pointer font-bold hover:underline" (click)="filterByRecommended()">Recomendados para ti</span>
        </div>
        <i class="pi pi-angle-right text-[#3A00AE]"></i>
      </li>
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
          <i class="pi pi-filter text-[#3A00AE]"></i>
          <span class="text-[#3A00AE] cursor-pointer font-bold hover:underline" (click)="filterByEducationLevel('Preescolar')">Grupos de preescolar</span>
        </div>
        <i class="pi pi-angle-right text-[#3A00AE]"></i>
      </li>
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
          <i class="pi pi-filter text-[#3A00AE]"></i>
          <span class="text-[#3A00AE] cursor-pointer font-bold hover:underline" (click)="filterByEducationLevel('Primaria')">Grupos de primaria</span>
        </div>
        <i class="pi pi-angle-right text-[#3A00AE]"></i>
      </li>
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
          <i class="pi pi-filter-slash text-[#3A00AE]"></i>
          <span class="text-[#3A00AE] cursor-pointer font-bold hover:underline" (click)="getAllForums()">Todos</span>
        </div>
        <i class="pi pi-angle-right text-[#3A00AE]"></i>
      </li>
      <h2 class="text-2xl font-bold mb-4 text-center">Grupos</h2>
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
            <i class="pi pi-plus text-[#3A00AE]"></i>
            <a routerLink="/createforum" class="text-[#3A00AE] font-bold cursor-pointer hover:underline">Crear grupo</a>
        </div>
      </li>
    </ul>
  </aside>
    <section class="flex-grow p-4">
        <h2 class="text-2xl font-bold mb-4">Nuevos grupos</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-white p-4 rounded-lg shadow-md" *ngFor="let forum of forums">
                <app-group-item [forum]="forum"></app-group-item>
            </div>
        </div>
    </section>
</main>