<app-navbar></app-navbar>
<main class="flex flex-col lg:flex-row justify-center lg:space-x-16">
    <aside class="hidden lg:block w-1/4 p-4 bg-white shadow-md md:flex flex-col h-screen">
    <h2 class="text-2xl font-bold mb-4 text-center">Busqueda Rápida</h2>
  
    <h3 class="text-lg font-semibold text-gray-600 mb-4 text-center">Filtros</h3>
    <ul class="space-y-4">
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
          <img src="assets/venta/material-escolar.png" alt="Material didáctico" class="w-12 h-12 rounded-full bg-gray-100 p-1">
          <a href="#" class="text-[#3A00AE] font-bold hover:underline">Recomendados para ti</a>
        </div>
        <i class="pi pi-angle-right text-gray-400"></i>
      </li>
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
          <img src="assets/venta/libros.png" alt="Recursos de clases" class="w-12 h-12 rounded-full bg-gray-100 p-1">
          <a href="#" class="text-[#3A00AE] font-bold hover:underline">Grupos de preescolar</a>
        </div>
        <i class="pi pi-angle-right text-gray-400"></i>
      </li>
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
          <img src="assets/venta/juguete-de-peluche.png" alt="Juguetes" class="w-12 h-12 rounded-full bg-gray-100 p-1">
          <a href="#" class="text-[#3A00AE] font-bold hover:underline">Grupos de primaria</a>
        </div>
        <i class="pi pi-angle-right text-gray-400"></i>
      </li>
      <li class="flex items-center justify-between">
        <div class="flex items-center space-x-3">
          <img src="assets/venta/mobiliario.png" alt="Mobiliario y equipo" class="w-12 h-12 rounded-full bg-gray-100 p-1">
          <a href="#" class="text-[#3A00AE] font-bold hover:underline">Todos</a>
        </div>
        <i class="pi pi-angle-right text-gray-400"></i>
      </li>
      
    </ul>
  </aside>
    <section class="flex-grow p-4">
        
    </section>
</main>