<app-navbar></app-navbar>
<main class="flex flex-col items-center">
    <section class="w-full md:w-1/2">
    <!-- Botón de Cancelar con flecha y texto -->
    <div class="flex items-center mb-4 mt-8 w-full ">
        <button (click)="goToHome()" class="flex items-center text-[#3A00AE] hover:underline hover:opacity-80">
            <!-- Ícono de flecha -->

            <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            <span>Cancelar</span>
        </button>
    </div>

    <section class="bg-white w-full p-6 rounded-lg shadow-md">   
        <form [formGroup]="createPostForm" (submit)="createPost()">
            <h1 class="text-2xl font-bold text-center">Crear tu publicación</h1>
            <div class="flex flex-col mt-6">
                <div class="flex items-center">
                    <p>Grupo</p><p class="text-red-500">*</p>
                </div>
                <p-dropdown 
                    class="w-full"
                    formControlName="forum"
                    [options]="forums"
                    optionLabel="name"
                    placeholder="Selecciona un grupo" 
                ></p-dropdown>
            </div>
            <div class="flex flex-col mt-4">
                <div class="flex items-center">
                    <p>Título</p><p class="text-red-500">*</p>
                </div>
                <input type="text" formControlName="title" class="border border-gray-300 rounded-md p-2 w-full" required placeholder="Escribe un título">
            </div>
            <div class="flex flex-col mt-4">    
                <p>Etiqueta</p>
                <input type="text" formControlName="tag" class="border border-gray-300 rounded-md p-2 w-full" placeholder="#Etiqueta">
            </div>
            <div class="flex space-x-4 mt-4 flex-wrap">
                <button type="button" (click)="selectFile('document')" class="flex-1 px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Subir Documento</button>
                <button type="button" (click)="selectFile('image')" class="flex-1 px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Subir Imagen</button>
            </div>

            <div class="mt-4">
                <div class="flex items-center">
                    <p>Contenido</p><p class="text-red-500">*</p>
                </div>
                <p-editor formControlName="content" [style]="{ height: '150px', 'font-size': '16px' }" placeholder="Escribe tu publicación">
                    <ng-template pTemplate="header">
                        <span class="ql-formats">
                            <button type="button" class="ql-bold" aria-label="Bold"></button>
                            <button type="button" class="ql-italic" aria-label="Italic"></button>
                            <button type="button" class="ql-underline" aria-label="Underline"></button>
                        </span>
                    </ng-template>
                </p-editor>
            </div>

            <div class="mt-4">
                <div class="flex items-center">
                    <p>Archivos seleccionados:</p>
                </div>
                <ul>
                    <li *ngFor="let file of selectedFiles; let i = index" class="flex justify-between items-center bg-gray-200 p-2 rounded-md">
                        {{ file.name }} 
                        <button (click)="removeFile(i)" class="text-red-500 ml-2">
                            <i class="pi pi-trash"></i>
                        </button>
                    </li>
                </ul>
            </div>

            <button class="w-full bg-[#3A00AE] hover:bg-[#3A00AE]/80 cursor-pointer transition-all duration-200 text-white rounded-md p-2 mt-4" [disabled]="createPostForm.invalid">Publicar</button>
        </form>
    </section>
    </section>
</main>
