<div class="flex justify-center items-center min-h-screen">
  
  <div class="flex bg-[#3A00AE] text-white rounded-lg shadow-lg overflow-hidden w-[700px] h-[500px] md:w-[900px] md:h-[600px]">
    
   
    <div class="flex-1 flex justify-center items-center p-8">
      <img src="assets/logo.png" alt="EducaLink" class="w-2/3 md:w-3/4">
    </div>
    
   
    <div class="flex-1 p-10">
      <h2 class="text-3xl font-semibold mb-8">Iniciar Sesión</h2>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <label for="email" class="block text-lg font-medium">Correo</label>
          <input type="email" id="email" formControlName="username" 
                 class="w-full p-3 mt-1 text-gray-800 bg-white rounded-md focus:outline-none">
        </div>
        
        <div class="mb-8">
          <label for="password" class="block text-lg font-medium">Contraseña</label>
          <input type="password" id="password" formControlName="password" 
                 class="w-full p-3 mt-1 text-gray-800 bg-white rounded-md focus:outline-none">
        </div>
        
        <button type="submit" 
                class="w-full bg-white text-[#3A00AE] py-3 rounded-md font-medium text-lg hover:bg-gray-200 transition mt-6">
          Iniciar Sesión
        </button>
      </form>
      
      <p class="text-center text-base mt-6">
        <button (click)="openRegisterModal()" class="underline">No tengo cuenta</button>
      </p>
    </div>
  </div>

  <!-- Modal de Crear Cuenta El "modal para crear cuenta" 
   se refiere a una ventana emergente que aparece encima del contenido 
   principal de la página para permitir que el usuario complete el proceso de creación de una cuenta.-->
  <app-register *ngIf="isRegisterModalOpen" (closeModal)="closeRegisterModal()"></app-register>
</div>
