<div class="flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: url('assets/login3.png')">
  
  <div class="flex flex-col md:flex-row bg-white text-gray-800 rounded-lg shadow-lg overflow-hidden w-full max-w-[700px] md:max-w-[900px] h-auto md:h-[500px]">
    
    <!-- Logo -->
    <div class="flex-1 flex justify-center items-center p-8 border-b md:border-b-0 md:border-r border-gray-200">
      <img src="assets/log.png" alt="EducaLink" class="w-2/3 md:w-3/4">
    </div>
    
    <!-- Formulario de inicio de sesión -->
    <div class="flex-1 p-6 md:p-10">
      <h2 class="text-2xl md:text-3xl font-semibold mb-6 md:mb-8 text-center md:text-left">Iniciar Sesión</h2>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-4 md:mb-6">
          <label for="email" class="block text-lg font-medium">Correo</label>
          <input type="email" id="email" formControlName="username" 
                 class="w-full p-2 md:p-3 mt-1 text-gray-800 bg-gray-100 rounded-md focus:outline-none focus:ring focus:ring-[#3A00AE]">
        </div>
        
        <div class="mb-6 md:mb-8">
          <label for="password" class="block text-lg font-medium">Contraseña</label>
          <input type="password" id="password" formControlName="password" 
                 class="w-full p-2 md:p-3 mt-1 text-gray-800 bg-gray-100 rounded-md focus:outline-none focus:ring focus:ring-[#3A00AE]">
        </div>
        
        <button type="submit" 
                class="w-full bg-[#3A00AE] text-white py-2 md:py-3 rounded-md font-medium text-lg hover:bg-opacity-90 transition mt-4 md:mt-6">
          Iniciar Sesión
        </button>
      </form>
      
      <p class="text-center text-base mt-4 md:mt-6">
        <button (click)="openRegisterModal()" class="underline text-[#3A00AE]">No tengo cuenta</button>
      </p>
    </div>
  </div>

  <!-- Modal de Crear Cuenta -->
  <app-register *ngIf="isRegisterModalOpen" (closeModal)="closeRegisterModal()"></app-register>
</div>
