<app-navbar></app-navbar>
<main class="flex justify-center mt-14">
  <section class="flex flex-col items-center space-y-4">
    <div class="w-[600px]">
      <app-post-input></app-post-input>
    </div>

    <div class="w-[600px] space-y-4">
      <ng-container *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
      </ng-container>
    </div>
  </section>
  
  <section class="hidden lg:block px-16 w-[500px]">
    <app-group-list [forums]="forums"></app-group-list>
  </section>
</main>
