<div class="flex min-h-screen bg-gray-100 p-6">
    <div class="hidden lg:block w-1/3"></div>
  
    <div class="flex-1 max-w-3xl">
      <div class="flex items-start mb-1 space-x-2"> 
        <div class="flex-1 max-w-lg p-3">
          <app-post-input></app-post-input>
        </div>
  
        <div class="hidden lg:block w-1/3 p-3">
          <app-group-list></app-group-list>
        </div>
      </div>
      
      <div class="flex-1 max-w-lg space-y-8">
        <div class="p-3 mb-4"> 
          <app-post 
            [name]="'Juan Vicente'"
            [description]="'Estudiante revisando sus notas de matemáticas para el próximo examen.'"
            [background_image_url]="'https://drive.google.com/file/d/1CWU_gcdE4bxP4wgsqgAioAqH_eSaroew/view?usp=drive_link'"
            [image_url]="'https://drive.google.com/file/d/1GK1iNNWbB7zQDwgVZawmGlofIyZde/view?usp=drive_link'"
            [education_level]="'Profesor de matemáticas'"
            [privacy]="'Público'"
            [creation_date]="'2024-11-10T17:54:45.241Z'"
            [id_user]="1">
          </app-post>
        </div>
        
        <ng-container *ngFor="let post of posts">
          <div class="p-3">
            <app-post 
              [name]="post.name"
              [description]="post.description"
              [background_image_url]="post.background_image_url"
              [image_url]="post.image_url"
              [education_level]="post.education_level"
              [privacy]="post.privacy"
              [creation_date]="post.creation_date"
              [id_user]="post.id_user">
            </app-post>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  