<app-navbar/>
<main class="flex justify-center mt-14">
  <section class="flex flex-col items-center">
    <div class="bg-white p-4 rounded-lg shadow-md flex flex-col space-y-4 w-[500px] cursor-pointer" (click)="goPost()">
      <div class="flex items-center space-x-4">
        <img src="assets/profile-picture.jpg" alt="Profile" class="w-12 h-12 rounded-full">
        <input
          type="text"
          placeholder="¿Quieres publicar algo?"
          class="flex-1 p-3 rounded-full border border-gray-300 focus:outline-none"
        />
      </div>
      <div class="flex space-x-4">
        <button class="flex items-center space-x-2 text-purple-500 font-medium">
          <i class="icon-documents"></i>
          <span>Subir Documentos</span>
        </button>
        <button class="flex items-center space-x-2 text-purple-500 font-medium">
          <i class="icon-image"></i>
          <span>Subir Imagen</span>
        </button>
      </div>
    </div>
    <div class="flex-1 max-w-lg space-y-4">
      <ng-container *ngFor="let post of posts">
        <div class="p-3">
          <app-post [post]="post"></app-post>
        </div>
      </ng-container>
    </div>
  </section>
  <section>
    <div class="hidden lg:block px-16 w-[500px]">
      <app-group-list [forums]="forums"></app-group-list>
    </div>
  </section>
</main>


<!-- <div class="flex min-h-screen bg-gray-100 p-6">
    <div class="hidden lg:block w-1/3"></div>
  
    <div class="flex flex-col max-w-3xl bg-cyan-300">
      <div class="flex items-start mb-1 space-x-2"> 
        <div class="flex-1 max-w-lg p-3">
          <app-post-input></app-post-input>
        </div>
  
        <div class="hidden lg:block w-1/3 p-3">
          <app-group-list [forums]="forums"></app-group-list>
        </div>
      </div>
      
      <div class="flex-1 max-w-lg space-y-4">
        <ng-container *ngFor="let post of posts">
          <div class="p-3">
            <app-post [post]="post"></app-post>
          </div>
        </ng-container>
      </div>
    </div>
  </div> -->
  